body{
  background:RGB(255, 214, 123);
}

h1 {
     color:green;
     font-size: 80px;
     text-align: center;
}
       
.container {
     text-align: center;
     line-height: 200px;
}
            
p {
     text-align: center;
     font-size: 40px;
     color:red;
}
            
.btn {
     color: blue;
     padding: 30px 50px;
     text-align: center;
     font-size: 30px;
     border-radius: 100%;
}
            
.btn:hover {
     background-color: blue;
     color: white;
}
.btn:active {
  background-color: #3ae3a8;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
            
#time {
     font-size: 100px;
     color: blue;
     display: block;
     margin: -50px;
}
         
         
      
